
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Adminlayout.cshtml";
}

<h2>Trang Quản Trị</h2>

@* PHẦN BANNER *@
<section class="banner">
    <div class="banner-container">
        <h2>Chào mừng đến trang web E-commerce</h2>
        <p>Mua sắm trực tuyến với hàng ngàn sản phẩm đa dạng và chất lượng</p>
        <a href="#" class="btnBanner">Bắt đầu mua sắm</a>
    </div>
</section>

@* PHẦN TÌM KIẾM SẢN PHẨM *@
<section class="searchProd">
    <h2>Tìm kiếm sản phẩm</h2>
    <div class="search-container">
        <input type="text" class="search-input" placeholder="Nhập từ khóa ...">
        <button class="search-button">Tìm kiếm</button>
    </div>
</section>

<hr />

@* PHẦN SẢN PHẨM NỔI BẬT *@
<section id="featuredProd">
    <h2>Sản phẩm nổi bật</h2>
    <div class="prod-container">

        <div class="product-item">
            <img src="~/Content/images/acer_nitro_5_tiger.png" />
            <h3>Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </div>

        <div class="product-item">
            <img src="~/Content/images/hp-15s-dq-bac-dd.jpg" />
            <h3>HP 15 DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </div>

        <div class="product-item">
            <img src="~/Content/images/X1504ZA-NJ517W.jpg" />
            <h3>ThinkPad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </div>

    </div>
</section>

<hr />

<section class="productList">
    <h2>Danh sách sản phẩm</h2>
    <ul class="list-container">

        <li class="product-item">
            <img src="~/Content/images/acer_nitro_5_tiger.png" />
            <h3>Acer Nitro 5 Tiger</h3>
            <p class="prodDescription">Mỏng nhẹ, giá sinh viên</p>
            <p class="prodPrice">9.999.999đ</p>
        </li>

        <li class="product-item">
            <img src="~/Content/images/hp-15s-dq-bac-dd.jpg" />
            <h3>HP 15 DQ màu bạc</h3>
            <p class="prodDescription">Cấu hình mạnh, phù hợp game thủ</p>
            <p class="prodPrice">8.999.999đ</p>
        </li>

        <li class="product-item">
            <img src="~/Content/images/X1504ZA-NJ517W.jpg" />
            <h3>ThinkPad X1504ZA</h3>
            <p class="prodDescription">Phong cách doanh nhân</p>
            <p class="prodPrice">29.999.999đ</p>
        </li>

    </ul>
</section>

